body {
    margin: 0;
    padding: 0;
    
    /*Centra todo el contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*Posiciona el contenido en modo columna*/
    flex-direction: column;
}